[submodule "src/barebox-overo"]
	path = src/barebox-overo
	url = git@github.com:Flamingos-CTU/barebox.git
[submodule "src/linux-stable"]
	path = src/linux-stable
	url =  git@github.com:Flamingos-CTU/linux.git
[submodule "src/buildroot-stable"]
	path = src/buildroot-stable
	url = git@github.com:Flamingos-CTU/buildroot.git
